@model mvc.Models.Tarefa

@{
    ViewData["Title"] = "DeletarConfirmado";
}

<h1>DeletarConfirmado</h1>

<h3>Confirmar exclusão?</h3>
<div>
    <h4>Tarefa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Concluida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Concluida)
        </dd>
    </dl>

    <form asp-action="DeletarConfirmado">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Lista</a>
    </form>
</div>
